<ng-container *ngIf="rule.type == 'equals' || rule.type == 'matches'">
  <input [(ngModel)]="rule.key" (input)="notify()" />
  
  <select [(ngModel)]="rule.type" (change)="notify()">
    <option value="equals">is</option>
    <option value="matches">matches</option>
  </select>

  <input [(ngModel)]="rule.value" (input)="notify()"/>
</ng-container>

<ng-container *ngIf="rule.type == 'all' || rule.type == 'any'">
  <select [(ngModel)]="rule.type" (change)="notify()">
    <option value="any">any</option>
    <option value="all">all</option>
  </select>
  of the following rules are satisfied:
  <button (click)="addPredicate(rule)">Add simple child rule</button>
  <button (click)="addAggregate(rule)">Add composite child rule</button>
  <div *ngIf="rule.children.length == 0">
    Add child rules, otherwise this rule is ignored
  </div>
  <div *ngFor="let child of rule.children; let i=index">
    <button (click)="deleteChild(rule, i)">x</button>
    <app-business-message-rule-editor [(rule)]="rule.children[i]"></app-business-message-rule-editor>
  </div>
</ng-container>
