<div>
  <label for="name">Endpoint name</label>
  <input id="name" type="text" [(ngModel)]="endpoint.name" (input)="notify()" />
</div>

<div>
  <label for="type">Endpoint type</label>
  <select id="name" [(ngModel)]="endpoint.type" (change)="notify()">
    <option value="push">Push</option>
    <option value="pull">Pull</option>
  </select>
</div>

<div *ngIf="endpoint.type == 'pull'">
  <label for="authorizationList">Authorization List</label>
  <input id="authorizationList" [(ngModel)]="endpoint.authorizationList" (input)="notify()" />
</div>

<div *ngIf="endpoint.type == 'push'">
  <label for="url">Destination url</label>
  <input id="url" [(ngModel)]="endpoint.url" (input)="notify()" />
</div>

<div>
  <ng-container *ngIf="endpoint.type=='push'">
    Business messages for any of the institutions in this group are pushed to this endpoint
  </ng-container>
  <ng-container *ngIf="endpoint.type=='pull'">
    Business messages for any of the institutions in this group can be pulled from this endpoint
  </ng-container>

  <ng-container *ngIf="endpoint.businessMessageRule; else elseBlock">
    if
    <div>
      <button (click)="deleteRule()">x</button>
      <app-business-message-rule-editor [(rule)]="endpoint.businessMessageRule"></app-business-message-rule-editor>
    </div>
  </ng-container>
  <ng-template #elseBlock>
    <button (click)="createSimpleRule()">Create simple rule</button>
    <button (click)="createCompositeRule()">Create composite rule</button>
  </ng-template>
</div>
