<label for="name">Endpoint name</label>
<input id="name" type="text" [(ngModel)]="endpoint.name" (input)="notify()"/>

<label for="type">Endpoint type</label>
<select id="name" [(ngModel)]="endpoint.type" (change)="notify()">
  <option value="push">Push</option>
  <option value="pull">Pull</option>
</select>

<ng-container *ngIf="endpoint.type == 'push'">
  <label for="url">Destination url</label>
  <input id="url" [(ngModel)]="endpoint.url" (input)="notify()"/>
</ng-container>

<div *ngIf="endpoint.businessMessageRule">
  <app-business-message-rule-editor [(rule)]="endpoint.businessMessageRule"></app-business-message-rule-editor>
</div>
