<ng-container *ngIf="condition">
  <div *ngIf="condition.type == 'equals'">
    {{condition.key}} is {{condition.value}}
  </div>
  <div *ngIf="condition.type == 'matches'">
    {{condition.key}} matches {{condition.value}}
  </div>
  <div *ngIf="condition.type == 'all'">
    all of the following conditions
    <ul>
      <li *ngFor="let child of condition.children" >
        <app-condition [condition]="child"></app-condition>
      </li>
    </ul>
  </div>
  <div *ngIf="condition.type == 'any'">
    any of the following conditions
    <ul>
      <li *ngFor="let child of condition.children">
        <app-condition [condition]="child"></app-condition>
      </li>
    </ul>
  </div>
</ng-container>
