<ng-container *ngIf="rule.type == 'equals'">
  {{rule.key}} is {{rule.value}}
</ng-container>

<ng-container *ngIf="rule.type == 'matches'">
  {{rule.key}} matches {{rule.value}}
</ng-container>

<ng-container *ngIf="rule.type == 'all'">
  All of the following rules:
  <div *ngFor="let child of rule.children" >
    <app-condition [rule]="child"></app-condition>
  </div>
</ng-container>

<ng-container *ngIf="rule.type == 'any'">
  Any of the following rules:
  <div *ngFor="let child of rule.children">
    <app-condition [rule]="child"></app-condition>
  </div>
</ng-container>
