<ng-container *ngIf="condition.type == 'equals' || condition.type == 'matches'">
  <input [(ngModel)]="condition.key" />
  
  <select [(ngModel)]="condition.type">
    <option value="equals">is</option>
    <option value="matches">matches</option>
  </select>

  <input [(ngModel)]="condition.value" />
</ng-container>

<ng-container *ngIf="condition.type == 'all' || condition.type == 'any'">
  <select [(ngModel)]="condition.type">
    <option value="any">Any</option>
    <option value="all">All</option>
  </select>
  of the following conditions are true:
  <div *ngFor="let child of condition.children">
    <app-condition-editor [condition]="child"></app-condition-editor>
  </div>
</ng-container>
