<div>
  <ng-container *ngIf="endpoint.systemMessageSubscriptions?.length > 0; else noSubscriptions">
    <ng-container *ngIf="endpoint.type == 'push'">
      System messages are created and pushed to this endpoint for
    </ng-container>
    <ng-container *ngIf="endpoint.type == 'pull'">
      System messages are created and can be pulled from this endpoint for
    </ng-container>
  </ng-container>
  <ng-template #noSubscriptions>
    System messages are not created for this endpoint
  </ng-template>

  <button (click)="add()">Add Subscription</button>

  <div *ngFor="let subscription of endpoint.systemMessageSubscriptions; let i=index; trackBy: trackByIndex">
    <input type="text" [(ngModel)]="endpoint.systemMessageSubscriptions[i]" />
    <button (click)="delete(i)">Delete Subscription</button>
  </div>

</div>
