<div>
  <label for="name">Rule name</label>
  <input id="name" type="text" [(ngModel)]="rule.name" (input)="notify()"/>

  <label for="type">Rule type</label>
  <select id="name" [(ngModel)]="rule.type" (change)="notify()">
    <option value="push">Push</option>
    <option value="pull">Pull</option>
  </select>

  <ng-container *ngIf="rule.type == 'push'">
    <label for="url">Destination url</label>
    <input id="url" [(ngModel)]="rule.url" (input)="notify()"/>
  </ng-container>
  
  <div>
    {{rule.condition}}
  </div>
</div>
