<ng-container *ngIf="rule.type == 'equals'">
  {{rule.key}} is {{rule.value}}
</ng-container>

<ng-container *ngIf="rule.type == 'matches'">
  {{rule.key}} matches {{rule.value}}
</ng-container>

<ng-container *ngIf="rule.type == 'all'">
  all of the following rules are satisfied:
  <div *ngFor="let child of rule.children" >
    <app-business-message-rule [rule]="child"></app-business-message-rule>
  </div>
</ng-container>

<ng-container *ngIf="rule.type == 'any'">
  any of the following rules are satisfied:
  <div *ngFor="let child of rule.children">
    <app-business-message-rule [rule]="child"></app-business-message-rule>
  </div>
</ng-container>
