<h4>Endpoint {{endpoint.name}}</h4>

<div>
  NA/NG URL: {{endpoint.naUrl}}
</div>

<div>
  AP Outbox URL: {{endpoint.outboxUrl}}
</div>

<div class="business">
  Business messages for any of the institutions in this group are pushed to the NA/NG URL
  <ng-container *ngIf="endpoint.businessMessageRule">
    if
    <div>
      <app-business-message-rule [rule]="endpoint.businessMessageRule"></app-business-message-rule>
    </div>
  </ng-container>
</div>

<div class="system" *ngIf="endpoint.systemMessageSubscriptions?.length > 0; else noSubscriptions">
  System messages are created for {{endpoint.systemMessageSubscriber}} and pushed to the NA/NG URL
  <div>
    <ng-container *ngFor="let subscription of endpoint.systemMessageSubscriptions">{{subscription}} </ng-container>
  </div>
</div>
<ng-template #noSubscriptions>System messages are not created for this endpoint</ng-template>
