<div class="endpoint">
  <ng-container *ngIf="endpoint.type == 'push'">
    {{endpoint.name}}: push to {{endpoint.url}}
  </ng-container>
  <ng-container *ngIf="endpoint.type == 'pull'">
    {{endpoint.name}}: pull from {{endpoint.url}}
  </ng-container>
</div>

<div *ngIf="endpoint.type == 'pull'">
  Authorization list: {{endpoint.authorizationList}}
</div>

<ng-container *ngIf="endpoint.type=='push'">
  Business messages for any of the institutions in this group are pushed to this endpoint
</ng-container>
<ng-container *ngIf="endpoint.type=='pull'">
  Business messages for any of the institutions in this group can be pulled from this endpoint
</ng-container>

<ng-container *ngIf="endpoint.businessMessageRule">
  if
  <div>
    <app-business-message-rule [rule]="endpoint.businessMessageRule"></app-business-message-rule>
  </div>
</ng-container>
